.chat-header {
    background-color: #ffffffd8;
    color: #525151;
    padding: 0px;
    text-align: center;
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0;
    flex-shrink: 0;
    padding: 8px;
    font-weight: bold;
}

.chat-container {
    width: 100%;
    max-width: 75%;
    height: calc(88vh - 20px);
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: visible;
    display: flex;
    flex-direction: column;
    /*margin-top: 4vh;*/
    margin-top: clamp(15px, 3vw, 30px);
    position: relative;
    border-top: 3px solid #00bfff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

/* Ensure the container adjusts with scaling */
@media (min-width: 768px) {
    .chat-container {
        height: calc(95vh - 42px);
        /* Adjust as needed for larger screens */
    }
}

@media (max-width: 767px) {
    .chat-container {
        height: calc(95vh - 10px);
        /* Adjust as needed for smaller screens */
    }
}

.bot-icon {
    position: absolute;
    top: -24px;
    /* Move the icon higher so it's fully visible above the container */
    left: 50%;
    transform: translateX(-50%);
    /* Center the icon horizontally */
    border-radius: 50%;
    z-index: 10;
    /* Ensure the icon stays on top of other content */
}

.card-bordered {
    border: 1px solid #ebebeb;
}

.card {
    border: 0;
    border-radius: 0px;
    margin-bottom: 30px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.03);
    -webkit-transition: .5s;
    transition: .5s;
}

.padding {
    padding: 3rem !important
}

body {
    background-color: #f9f9fa
}

.card-header:first-child {
    border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}


.card-header {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 15px 20px;
    background-color: transparent;
    border-bottom: 1px solid rgba(46, 102, 145, 0.07);
}

.card-header .card-title {
    padding: 0;
    border: none;
}

h4.card-title {
    font-size: 17px;
}

.card-header>*:last-child {
    margin-right: 0;
}

.card-header>* {
    margin-left: 8px;
    margin-right: 8px;
}

.btn-secondary {
    color: #4d5259 !important;
    background-color: #e4e7ea;
    border-color: #e4e7ea;
    color: #fff;
}

.btn-xs {
    font-size: 11px;
    padding: 2px 8px;
    line-height: 18px;
}

.btn-xs:hover {
    color: #fff !important;
}




.card-title {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 0;
    padding: 15px 20px;
    border-bottom: 1px solid rgba(131, 170, 225, 0.07);
}


.ps-container {
    position: relative;
}

.ps-container {
    -ms-touch-action: auto;
    touch-action: auto;
    overflow: hidden !important;
    -ms-overflow-style: none;
}

.media-chat {
    padding-right: 64px;
    margin-bottom: 0;
}

.media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.media .avatar {
    flex-shrink: 0;
}

.avatar {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    border-radius: 100%;
    background-color: #f5f6f7;
    color: #8b95a5;
    text-transform: uppercase;
}

.media-chat .media-body {
    -webkit-box-flex: initial;
    flex: initial;
    display: table;
}

.media-body {
    min-width: 0;
}

.media-chat .media-body p {
    position: relative;
    padding: 6px 8px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 3px;
    font-weight: 100;
    color: #9b9b9b;
}

.media>* {
    margin: 0 8px;
}

.media-chat .media-body p.meta {
    background-color: transparent !important;
    padding: 0;
    opacity: .8;
}

.media-meta-day {
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: 0;
    color: #8b95a5;
    opacity: .8;
    font-weight: 400;
}

.media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.media-meta-day::before {
    margin-right: 16px;
}

.media-meta-day::before,
.media-meta-day::after {
    content: '';
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
    content: '';
    -webkit-box-flex: 1;
    flex: 1 1;
    border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
    margin-left: 16px;
}

.media-chat.media-chat-reverse {
    padding-right: 12px;
    padding-left: 64px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.media-chat {
    padding-right: 64px;
    margin-bottom: 0;
}

.media {
    padding: 16px 12px;
    -webkit-transition: background-color .2s linear;
    transition: background-color .2s linear;
}

.media-chat.media-chat-reverse .media-body p {
    float: right;
    clear: right;
    background-color: #48b0f7;
    color: #fff;
}

.media-chat .media-body p {
    position: relative;
    padding: 6px 8px;
    margin: 4px 0;
    background-color: #f5f6f7;
    border-radius: 3px;
}


.border-light {
    border-color: #f1f2f3 !important;
}

.bt-1 {
    border-top: 1px solid #ebebeb !important;
}

.publisher {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    padding: 12px 20px;
    background-color: #f9fafb;
}

.publisher>*:first-child {
    margin-left: 0;
}

.publisher>* {
    margin: 0 8px;
}

.publisher-input {
    -webkit-box-flex: 1;
    flex-grow: 1;
    border: none;
    outline: none !important;
    background-color: transparent;
}

button,
input,
optgroup,
select,
textarea {
    font-family: Roboto, sans-serif;
    font-weight: 300;
}

.publisher-btn {
    background-color: transparent;
    border: none;
    color: #8b95a5;
    font-size: 16px;
    cursor: pointer;
    overflow: -moz-hidden-unscrollable;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.file-group {
    position: relative;
    overflow: hidden;
}

.publisher-btn {
    background-color: transparent;
    border: none;
    color: #cac7c7;
    font-size: 16px;
    cursor: pointer;
    overflow: -moz-hidden-unscrollable;
    -webkit-transition: .2s linear;
    transition: .2s linear;
}

.file-group input[type="file"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
    width: 20px;
}

.text-info {
    color: #48b0f7 !important;
}

/*  Message *********/
.chat-message {
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
}

.chat-message.user {
    flex-direction: row-reverse;
}

.chat-message.user .message {
    background-color: #f5e2ad;
    border: 0.5px solid #e4c87d;
    color: #141414;
}

.chat-message.bot .message {
    background-color: rgba(241, 241, 241, 0.8);
    border: 0.5px solid rgba(214, 219, 219, 0.8);
    color: #000;
}

.message {
    padding: 10px 15px;
    border-radius: 15px;
    max-width: 83%;
    margin: 0 2px;
    text-align: left;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.avatar {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}


.chat-body {
    flex-grow: 1;
    overflow-y: auto;
    max-width: 100%;
    flex: 1;
    box-sizing: border-box;
    margin: 25px;
}

.chat-footer {
    display: flex;
    padding: 5px;
    background: #b9bbbb;
    align-items: center;
    position: relative;
    flex-shrink: 0;
}

.chat-footer input {
    flex: 1;
    padding: 10px;
    border: 1px solid #8cc5c3;
    border-radius: 4px;
    font-size: 0.9vw;
    width: 60%;
    box-sizing: border-box;
}


/* CHAT BOX =========*/
.chat-footer button {
    padding: 10px 15px;
    background-color: #e2dede;
    border: none;
    border-radius: 55px;
    color: #1b1b1b;
    font-size: 0.9vw;
    font-weight: bold;
    cursor: pointer;
    margin-left: 10px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 7vw;
}

.chat-footer button:hover {
    background-color: #363636;
    color: #ffffff;
    box-shadow: 0 6px 8px rgba(0, 123, 255, 0.15);
}

.chat-footer button:disabled {
    background-color: #3c3d3d;
    color: #f1f1f1;
    cursor: not-allowed;
    box-shadow: none;
}

/* Media Queries for smaller screens */
@media (max-width: 768px) {
    .chat-footer button {
        padding: 8px 4%;
        font-size: 0.9em;
        max-width: 10vw;
    }
}

@media (max-width: 480px) {
    .chat-footer button {
        padding: 6px 3%;
        font-size: 0.8em;
        max-width: 15vw;
    }
}


.tab {
    padding: 8px;
    background-color: #e0ebee;
    color: #757575;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 0.64vw;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 148, 188, 0.3);
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
}

.tab:hover {
    /*background-color: #1c7d7d;*/
    background-color: #78d6f8;
    color: #272727;
    transform: translateY(-4px);
    box-shadow: 0 6px 12px rgba(0, 123, 255, 0.4);
}

.tab.active {
    background-color: #252525;
    color: #ffffff;
}

.bot-selection .tab:first-child {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.bot-selection .tab:last-child {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}